html {
	background-color: black;
	color:white;
}

div {
	background-color: darkblue;
	margin: auto;
	width: 80%;

}

h1 {
	text-align:center;
	
}

img {
	width:99%;
}
iframe {
	width:99%;
	height:99%;
