html {
	background-color: rgb(44, 44, 44);
}

#main_div{
	background-color: rgb(33, 33, 33);
	margin: auto;
	width: 70%;
	height:35%;
	border: 2px solid black;
	border-radius: 10px;
	margin-bottom: 0.5%;
}

#main_img{
	width: 100%;
	height: 100%;
	border-radius: 25px;
}

#main_btn{
	padding: 2px;
	margin-bottom:5px;
	background-color: rgb(33, 33, 33);
	transition:0.5s;
	display: inline-block;
	border-radius: 10px;
}

#main_btn:hover{
	background-color: rgb(25, 25, 25);
	transition:0.5s;
	cursor: pointer;
}
