html {
	background-color: rgb(44, 44, 44);
}

.val_div{
	background-color: rgb(33, 33, 33);
	margin: auto;
	width: 70%;
	height:10%;
	border: 2px solid black;
	border-radius: 10px;
	margin-bottom: 0.5%;
}

h1 {
	text-align:center;
	color: GhostWhite;
}

.val_img{
	width: 50px;
	height: 50px;
	border-radius: 25px;
}

.val_button{
	padding: 2px;
	margin-bottom:5px;
	background-color: rgb(66, 66, 66);
	transition:0.5s;
	display: inline-block;
	border-radius: 30px;
}

.val_button:hover{
	background-color: rgb(111, 111, 111);
	transition:0.5s;
	cursor: pointer;
}

.main_div{
	background-color: rgb(33, 33, 33);
	margin: auto;
	width: 70%;
	height:35%;
	border: 2px groove antiquewhite;
	border-radius: 10px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 4px;
}

.main_img{
	width: 50%;
	height: 100%;
    text-align: center;
    border-radius: 10px;
}

.main_btn{
	display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(33, 33, 33);
	transition:0.5s;
	border-radius: 10px;
    text-align: center;
    border: 0px;
    width: 100%;
    height: 100%;
}

.main_btn:hover{
	transition:0.5s;
	cursor: pointer;
}

.main_img:hover{
    transition: 0.5s;
    opacity: 70%;
}

.main_body {
    padding-top: 4%;
}

.agent_div {
	background-color: rgb(38, 38, 38);
	margin: auto;
	width: 80%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    border-radius: 20px;
    margin-top: 7px;
    border: 3px groove antiquewhite;
}

.agent_img {
	width:99%;
}

.agent_iframe {
	width:99%;
	height: 900px;
}

.cs_div {
    background-color: rgb(33, 33, 33);
	margin: auto;
	width: 70%;
	height:35%;
	border: 2px solid black;
	border-radius: 10px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 7px;
}

.cs_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: antiquewhite;
    width: 100%;
}

.cs_img:hover {
    opacity: 70%;
    transition: 0.5s;
    cursor: pointer;
}

.cs_btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(33, 33, 33);
	transition:0.5s;
    text-align: center;
    border-width: 0px;
    height: 100%;
    width: 100%;
}

.cs_link {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.back_btn{
    width: 82px;
    height: 32px;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgb(240, 240, 240);
    text-align: center;
}

.back_btn:hover {
    transition:0.5s;
	cursor: pointer;
    opacity: 70%;
}

.agent_back {
    height: 32px;
    width: 82px;
    font-size: 15px;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgb(240, 240, 240);
    text-align: center;
}

.agent_back:hover {
    transition:0.5s;
	cursor: pointer;
    opacity: 70%;
}